<% include partials/header %>

<h1>TDL</h1>
<div class="container">
  <div class="row">
    <div class=" col m8">
      <div class="card grey darken-1">
        <div class="card-content white-text">
          <div class="row">
            <span class="card-title col m5"><h5 class="today">Monday, 25th</h5></span>
            <span class="card-title col m4 push-m4"><h6 class="pending"><%= todos.length %> tasks pending</h6></span>
          </div>
        </div>
        <ul class="collection">
          <% Object.values(todos).forEach(function (todo) { %>

            <li class="collection-item"><a href="#!" class="secondary-content"><i class="material-icons delete" data-id='<%= todo.id %>'>delete</i></a><span class="content"><%= todo.content %></span></li>
          <% }) %>
        </ul>
      </div>
    </div>
  </div>

  <!-- Modal Trigger -->

  <a class="btn-floating waves-effect waves-light btn addButton" href="/new"><i class="material-icons">add</i></a>



</div>


<% include partials/footer %>
