<% include partials/header %>

<h1>TDL</h1>
<div class="container">
  <div class="row">
    <div class=" col m8">
      <div class="card grey darken-1">
        <div class="card-content white-text">
          <div class="row">
            <span class="card-title col m5"><h5>Monday, 25th</h5></span>
            <span class="card-title col m4 push-m4"><h6>4 tasks pending</h6></span>
          </div>
          <p>I am a very simple card. I am good at containing small bits of information.
            I am convenient because I require little markup to use effectively.</p>
          </div>
          <div class="card-action">
            <a href="#">This is a link</a>
            <a href="#">This is a link</a>
          </div>
        </div>
      </div>

  </div>

</div>


<% include partials/footer %>
